{% block stylesheets %}
       <link rel="stylesheet" type="text/css" href="/assets/css/style.css" /> 
{% endblock stylesheets %}

{% block content %}
<section class="form">
    <h1>connection</h1>
    <form>
        <input type="text" name="email" placeholder="Adresse email" required >
        <input type="text" name="password" placeholder="Confirmation mot de passe" required >
    </form>
    <button>Envoyer</button>
    <span>
        <a href="/">Retour</a>
        <a href="">Mot de passe oublié?</a>
    </span>
</section>
{% endblock %}