{% block stylesheets %}
       <link rel="stylesheet" type="text/css" href="/assets/css/style.css" /> 
{% endblock stylesheets %}


{% block content %}
<body class="formulaire">
    <section class="form">
        <h1>connection</h1>
        <form>
            <input type="text" name="email" placeholder="Adresse email" required >
            <input type="text" name="password" placeholder="Confirmation mot de passe" required >
        </form>
        <button>Envoyer</button>
        <span>
            <a href="/register">Pas encore inscrit?</a>
            <a href="">Mot de passe oublié?</a>
        </span>
    </section>
</body>
{% endblock %}