{% block stylesheets %}
       <link rel="stylesheet" type="text/css" href="/assets/css/style.css" /> 
{% endblock stylesheets %}

{% block content %}
<body class="identification">
    <form class="form">
            <h2>Inscription</h2>
            <div class="input">
                <input type="text" name="lastName" placeholder="Nom" required >
            </div>
            <div class="input">
                <input type="text" name="firstName" placeholder="Prénom" required >
            </div>
            <div class="input">
                <input type="text" name="email" placeholder="Adresse email" required >
            </div>
            <div class="input">
                <input type="text" name="email" placeholder="Confirmation de l'email" required >
            </div>
            <div class="input">
                <input type="text" name="address" placeholder="Adresse" required >
            </div>
            <div class="input">
                <input type="text" name="zipCode" placeholder="Code postal" required >
            </div>
            <div class="input">
                <input type="text" name="city" placeholder="Ville" required >
            </div>
            <div class="input">
                <input type="text" name="country" placeholder="Pays" required >
            </div>
            <div class="input">
                <input type="text" name="phone" placeholder="N° téléphone" required >
            </div>
            <div class="input">
                <input type="text" name="lastName" placeholder="Nom" required >
            </div>
            <div class="input">
                <input type="text" name="password" placeholder="Confirmation mot de passe" required >
            </div>
                <input type="hidden" name="robot">
            </div>
        <div>
				<button>Inscription</button>
			</div>
			<div class="onglets">
				<a href="/connexion">Déjà membre?</a>
				<a href="/">retour</a>
        </div>
    </form>
</body>

{% endblock %}